<nb-flip-card>
  <nb-card-front>
    <nb-card accent="danger">
      <nb-card-body>
        Test One
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-card-body>
        Text Two
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
