<nb-flip-card>
  <nb-card-front>
    <nb-card accent="danger">
      <nb-card-body>
        Text one
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-card-body>
        Text two
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>

<nb-chat title="KE Article Query" size="large" status="success">

  <nb-chat-message *ngFor="let msg of messages"
                   [type]="msg.type"
                   [message]="msg.message"
                   [reply]="msg.reply"
                   [sender]="msg.sender"
                   [date] = "dateNow"
                   [avatar]="msg.avatar">
  </nb-chat-message>
  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
  </nb-chat-form>
</nb-chat>
