<nb-layout>

  <nb-layout-column>
      <nb-card>
        <nb-card-body>
          <app-chatbot-java></app-chatbot-java>
        </nb-card-body>
      </nb-card>
  </nb-layout-column>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <app-chatbot-python></app-chatbot-python>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
